<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CleverList</title>
		<base href="/">
		<!-- bootstrap css -->
	  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <!-- custom styles -->
	  <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/update.ico">
    <!-- google fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!-- google fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400' rel='stylesheet' type='text/css'>
    <!-- toastr  -->
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
</head>
<body ng-controller="MainCtrl">
	<nav class="navbar navbar-default">
    <div class="container-fluide">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-if="currentUser" href="/profile">CleverList</a>
        <a class="navbar-brand" ng-if="!currentUser" href="/">CleverList</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!currentUser"><a href="/signup">Sign Up</a></li>
          <li ng-show="!currentUser"><a href="/login">Log In</a></li>
          <li ng-show="currentUser"><a ng-click="editUserForm()" href="/edit/\{{currentUser._id}}"><i class="fa fa-cog"></i></a></li>
          <li ng-show="currentUser"><a href="/profile">\{{currentUser.displayName}}</a></li>
          <li ng-show="currentUser"><a href="#" ng-click="logout()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
	<div class="container-fluid">	
		<div class="row">
			<div class="col-md-12">
				<div ng-view></div>
			</div><!-- close col-12-->
		</div> <!-- close row-->
	</div> <!-- close container-->
	 <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <!-- angular resource-->
  <script type="text/javascript" src="//code.angularjs.org/1.4.8/angular-resource.js"></script>
  <!-- toastr -->
  <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <!-- satellizer -->
  <script src="//cdn.jsdelivr.net/satellizer/0.13.4/satellizer.min.js"></script>
  <!--websocket  -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <!-- custom script (angular app) -->
  <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>