<div class="row titleTask">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h3 ng-hide="showEditTaskForm">{{singleTask.name}} &nbsp &nbsp <a ng-click="shareTaskForm()" href="#"><img class="functionTask" src="/images/share2.png" alt=""></a>&nbsp &nbsp <a ng-click="editTaskForm()" href="#"><img class="functionTask" src="/images/edit.jpeg" alt=""></a>&nbsp &nbsp <a ng-click="deleteTask()" href="#"><img class="functionTask" src="/images/delete.png" alt=""></a> </h3>

			<form class="form-inline" ng-submit="updateTask()" ng-show="showEditTaskForm">
				<div class="form-group">
			    <input type="text" ng-model="editTask.name" class="form-control" ng-binding="{{singleTask.name}}">
			  </div>
			  <input type="submit" value="update" class="btn btn-info">
			</form>
	</div>	
</div><br><br>
<div class="row" ng-show="shareFormShow">
	<div class="col-md-6 col-md-offset-3 text-center">
		<form ng-submit="search()" class="form-inline">
			<div class="form-group">
		    <input type="text" ng-model="searchUser" class="form-control" placeholder= "earch for a user">
			</div>
		 	<input type="submit" value="search" class="btn btn-info">
		</form>
	</div>
</div>
<div class="row" ng-show="results">
	<div class="col-md-4 col-md-offset-3 text-center">
		<p>{{foundUser.displayName}}</p>
	</div>
	<div class="col-md-2">
		<a ng-click="share(foundUser)" href="#">Share Task</a>
	</div>
</div>
<div class="row" ng-show="noResults">
	<div class="col-md-4 col-md-offset-3 text-center">
		<p>{{foundUser}}</p>
	</div>
</div> <br><br>

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<form ng-submit="addSubTask()" class="form-inline">
			<div class="form-group">
		    <input type="text" ng-model="subTask.name" class="form-control" placeholder="Add a new subtask">
		  </div>
  		<input type="submit" value="Add" class="btn btn-info">
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul>
			<li ng-repeat = "subtask in singleTask.subtasks">
				<div class="row">
					<div class="col-md-1 col-md-offset-3">
						<i ng-hide="subtask.completed" ng-click="completeSubTask(subtask)" class="fa fa-square-o check"></i>
						<i ng-show="subtask.completed" ng-click="completeSubTask(subtask)" class="fa fa-check-square-o check"></i>
					</div>
					<div class="col-md-5">
						<p ng-hide="subtask[showForm]">{{subtask.name}}</p>
						<form ng-submit="editSubTask(subtask)" ng-show="subtask[showForm]" class="form-inline">
							<div class="form-group">
				    		<input type="text" ng-model="subtask.subTaskEdit.name" class="form-control">
				  		</div>
				  		<input type="submit" value="update" class="btn btn-info">
						</form>
					</div>
					<div class="col-md-2">
						<a ng-click="deleteSubTask(subtask)" href="#"><i class="fa fa-trash"></i></a>&nbsp &nbsp
						<a ng-click="editSubtaskForm(subtask)" ng-hide="subtask.completed" href="#"><i class="fa fa-pencil"></i></a>&nbsp &nbsp
					</div>
				</div>
			</li>	
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p ng-repeat ="user in singleTask.users">{{user.displayName}}</p> 
	</div>
</div>

				
				
		

		








