<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="borderBox">
			<div class="row titleTask">
				<div class="col-md-12 text-center">
					<h2 ng-hide="showEditTaskForm || shareFormShow">{{singleTask.name}} &nbsp &nbsp <a ng-click="shareTaskForm()" href="#"><i class="fa fa-share"></i>
					</a>&nbsp &nbsp <a ng-click="editTaskForm()" href="#"><i class="fa fa-pencil"></i></a>&nbsp &nbsp <a ng-click="deleteTask()" href="#"><i class="fa fa-trash"></i></a></h2>
					<div ng-hide="showEditTaskForm || shareFormShow"><small>Shared with:</small><small ng-repeat ="user in singleTask.users">{{user.displayName}}{{$last ? '' : ', '}} </small></div>
					<div class="updateTaskDiv" ng-show="showEditTaskForm">
						<form class="form-inline" ng-submit="updateTask()" name="updateTaskFrom">
							<div class="form-group">
						    <input type="text" ng-model="editTask.name" class="form-control" name="editedTask" placeholder="{{singleTask.name}}"minlength="2" maxlength="15">
						  </div>
						  <input type="submit" value="update" class="btn btn-info">
						  <a ng-click="editTaskForm()" href="#" class="btn btn-info">X</a><br>
							<span ng-show="updateTaskFrom.editedTask.$touched && (updateTaskFrom.editedTask.$error.minlength || updateTaskFrom.editedTask.$error.maxlength)">Task should be 2-15 charcters</span>
						</form>
					</div>
					<div class="shareTaskDiv" ng-show="shareFormShow">
						<form ng-submit="search()" class="form-inline">
							<div class="form-group">
						    <input type="text" ng-model="searchUser" class="form-control" placeholder= "search a user (email)">
							</div>
						 	<input type="submit" value="search" class="btn btn-info">
						 	<a ng-click="shareTaskForm()" href="#" class="btn btn-info">X</a>
						</form>
					</div>
				</div>	
			</div><br>
			<div class="row shareResultsDiv" ng-show="results">
				<div class="col-md-12 text-center foundUserDiv">
					<a ng-show="shareFormShow" ng-click="share(foundUser)" href="#">{{foundUser.displayName}} (select)</a>
				</div>
			</div>
			<div class="row shareResultsDiv" ng-show="shareFormShow">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p ng-show="noResults">{{foundUser}}</p>
				</div><br><br>
			</div> 
			<div class="row" ng-hide="showEditTaskForm || shareFormShow">
				<div class="col-md-12 text-center">
					<form ng-submit="addSubTask()" class="form-inline" name="addSubtaskForm">
						<div class="form-group">
					    <input type="text" ng-model="subTask.name" class="form-control" name="subtask" placeholder="Add a new subtask" minlength="2" maxlength="15">
					  </div>
			  		<input type="submit" value="Add" class="btn btn-info"><br>
			  		<span ng-show="addSubtaskForm.subtask.$touched && (addSubtaskForm.subtask.$error.minlength || addSubtaskForm.subtask.$error.maxlength)">Subtask should be 2-15 charcters</span>
					</form>
				</div>
			</div><br><br>
			<div class="row">
				<div class="col-md-12">
						<div ng-repeat = "subtask in singleTask.subtasks" class="subtaskDiv">
							<span class="check-box">
								<i ng-hide="subtask.completed" ng-click="completeSubTask(subtask)" class="fa fa-square-o check"></i>
								<i ng-show="subtask.completed" ng-click="completeSubTask(subtask)" class="fa fa-check-square-o check"></i>
							</span>
							<span ng-hide="subtask[showForm]">{{subtask.name}}</span>
							<form ng-submit="editSubTask(subtask)" ng-show="subtask[showForm]" class="subtask-edit" name="editSubtask" placeholder="{{subtask.name}}">
								<div class="form-group">
					    		<input type="text" ng-model="subtask.subTaskEdit.name" name="editedSubtask" class="form-control" minlength="2" maxlength="15">
					  		</div>
					  		<input type="submit" value="update" class="btn btn-info"><br>
					  		<span ng-show="editSubtask.editedSubtask.$touched && (editSubtask.editedSubtask.$error.minlength || editSubtask.editedSubtask.$error.maxlength)">Subtask should be 2-15 charcters</span>
							</form>
							<span class="edit-delete">
								<a ng-click="deleteSubTask(subtask)" href="#"><i class="fa fa-trash"></i></a>&nbsp &nbsp
								<a ng-click="editSubtaskForm(subtask)" href="#"><i class="fa fa-pencil"></i></a>&nbsp &nbsp
							</span>
						</div>	
						<div class="text-center">
							<p ng-show="!singleTask.subtasks.length">You still don't have any subtask</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>


				
				
		

		








