<div class="row loginForm">
  <div class="col-md-4 col-md-offset-4 text-center">
    <div class="borderForm">
      <form ng-submit="signup()" name="signupForm">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h3>Sign Up</h3><br>
          </div>
        </div>
        <div class="form-group">
          <input type="text" ng-model="user.displayName" name="displayName" class="form-control" placeholder="Full Name" minlength="4" maxlength="20" required>
          <span ng-show="signupForm.displayName.$touched && (signupForm.displayName.$error.minlength || signupForm.displayName.$error.maxlength || signupForm.displayName.$invalid)">Name should be 4-20 charcters</span>
        </div>
        <div class="form-group">
          <input type="text" ng-model="user.email" class="form-control" name="email" placeholder="Email"
          ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/">
          <span ng-show="signupForm.email.$touched && signupForm.email.$error.pattern">Please make sure you entered valid email</span>
        </div>
        <div class="form-group">
          <input type="password" ng-model="user.password" class="form-control" name="password" placeholder="Password" minlength="6" maxlength="10" required>
           <span ng-show="signupForm.password.$touched && (signupForm.password.$error.minlength || signupForm.password.$error.maxlength || signupForm.password.$error.required)">Password should be 6-10 charcters</span>
        </div>
        <input type="submit" value="Sign Up" class="btn btn-block btn-info">
      </form>
      <br>
      <p class="text-muted">Already have an account? <a class="loginLink" href="/login">Log in here.</a></p>  
    </div>
  </div>
</div>
