body{
	font-family: 'Droid Sans', sans-serif;
	background-color: #f6f6f6;
}
.welcomeHeader{
	padding: 6% 1% 0% 3%;
	background-image: url(/images/todo.jpeg);
	background-size: cover;
	height: 500px;
}
.welcomeHeaderTitle{
	font-size: 70px;
	font-family: 'Lobster', cursive;
}
.navbar{
	margin-bottom: 0px;
	padding: 0% 1%;
	border: 0;
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
}
.howItWorkstTitle{
	margin: 5% 0%;
}
.howItWorkstTitle h2{
	font-size: 60px;
}
.howItWorksImage{
	font-size: 100px !important;
}
.getStartedTitle{
	font-family: 'Droid Sans', sans-serif;
	background-color: #FF5A5F;
	color: white;
	margin-top: 3%;
}
.getStartedTitle:hover{
	color: white;
	background-color: #e60007;
}
.getStarted{
	margin: 5% 0%;
	background-color: #FF5A5F;
	color: white;
	padding: 2% 5%;
}
.getStarted:hover{
	color: white;
	background-color: #e60007;
}
.loginForm{
	margin-top: 5%;
	
	width: 100%;
}
.functionTask{
	width: 5%;

}
.titleTask{
	margin-top: 5%;
}
ul{
	margin-top: 10%;
	list-style: none;
}
.functionSubTask{
	width: 10%;
}
.doneSubTask{
	width: 20%;
}
#profileTitle{
	margin-top: 5%;
}
.borderForm{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10%;
	background-color: white;
}
a{
	color: black;
}
.visabiltyHidden{
	visibility: hidden;;
}
.foundUserDiv{
	margin-top: 1%;
}
.loginLink{
	color: #46b8da;
}
.borderBox{
	border: 1px solid #ddd;
	border-radius: 0;
	background-color: white;
	padding: 0% 4% 5% 4%;
	margin-top: 5%
}
.updateTaskDiv{
	height: 117px;
	padding-top: 5%;
}
.shareTaskDiv{
	height: 76px;
	padding-top: 5%;
}
.subtaskDiv{
	height: 34px;
}
.check-box{
	margin-right: 1%;
}
.edit-delete{
	float: right;
}
.subtask-edit{
	display: inline-block;
}
.subtask-edit .form-group{
	display: inline-block;
}
@media(max-width: 800px){
	.welcomeHeaderTitle {
    font-size: 25px;
    margin-top: 17%;
	}
	.getStartedTitle{
		margin: 2% 19%;
	}
	h2{
		font-size: 20px;
	}
	.shareResultsDiv{
		margin-top: 7%;
	}
}
@media(max-width: 650px){
	.updateTaskDiv{
		height: 175px;
		padding-top: 5%;
	}
	.shareTaskDiv{
	height: 134px;
	padding-top: 15%;
	}
}


