<h1>Profile</h1>
<form ng-submit="newTask()">
  <div class="form-group">
    <input type="text" ng-model="task.name" class="form-control" placeholder="Name">
  </div>
  <input type="submit" value="Create" class="btn btn-block btn-info">
</form>
<hr>
<p>{{currentUser._id}}</p>
<p>{{currentUser.displayName}}</p>
<p>{{currentUser.email}}</p>
<p>{{currentUser.password}}</p>
<div ng-repeat="Singletask in tasks">
	<p>{{Singletask}}</p>
	<p>{{Singletask.name}}</p>
	<p>{{Singletask.completed}}</p>
</div>
