<div class="row" id="profileTitle">
	<div class="col-md-6 col-md-offset-3 text-center">
		<form ng-submit="newTask()" class="form-inline">
		  <div class="form-group">
		    <input type="text" ng-model="task.name" class="form-control" placeholder="Create a new task">
		  </div>
		  <input type="submit" value="Create" class="btn btn-info">
		</form>
	</div>
</div><br><br>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h3>This is what you have to do....</h3><br>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="list-group text-center" >
			<div ng-repeat="singleTask in tasks">
				<a ng-href="/tasks/{{singleTask._id}}" class="list-group-item" >{{singleTask.name}} &nbsp&nbsp({{singleTask.subtasks.length}} subtasks)</a>
			</div>	
		</div>
	</div>	
</div>



